<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
/>

<!-- Main Content -->

<div class="content">
  <!-- Navigation Bar -->

  <div class="navbar">
    <div class="brand-logo">
      <a href="#"
        ><img
          src="/assets/quantum-screen-assets/icons/logo used in header.svg"
          alt=""
      /></a>
    </div>
    <div class="navbar-menu-right">
      <div class="navbar-menu">
        <span class="navbar-menu-items">Dashboard</span
        ><span class="navbar-menu-items">Content</span
        ><span class="navbar-menu-items">Users</span
        ><span class="navbar-menu-items">Reports</span
        ><span class="navbar-menu-items">Admin</span>
      </div>
      <!-- Navbar Icons -->
      <!-- Alerts Icon -->
      <div class="navbar-icons">
        <div class="navbar-icons-items alerts">
          <a href="#"
            ><img
              id="alerts"
              src="/assets/quantum-screen-assets/icons/alerts.svg"
              alt=""
            /><span class="num">2</span></a
          >
          <div class="alerts-dropdown">
            <!-- Alerts Dropdown 1 -->
            <div class="unread">
              <div class="alert-title-line">
                <span class="alert-title"
                  >License for Introduction to Algebra has been assigned to your
                  school</span
                >
                <span class="read-unread"
                  ><i class="zmdi zmdi-minus-circle-outline"></i
                ></span>
              </div>
              <div class="alert-time">
                <span>15-Sep-2018 at 07:21 pm</span>
              </div>
            </div>
            <!-- Alerts Dropdown 2 -->
            <div>
              <div class="alert-title-line">
                <span class="alert-title"
                  >Lesson 3 Practice Worksheet overdue for Amy Santiago</span
                ><span class="read-unread"
                  ><i class="zmdi zmdi-check-circle"></i
                ></span>
              </div>
              <div class="alerts-sub-title">
                <span class="alerts-sub-title-1">Course:</span
                ><span>Advanced Mathematics</span>
              </div>
              <div class="alert-time">
                <span>15-Sep-2018 at 05:21 pm</span>
              </div>
            </div>
            <!-- Alerts Dropdown 3 -->
            <div class="unread">
              <div class="alert-title-line">
                <span class="alert-title">23 new students created</span
                ><span class="read-unread"
                  ><i class="zmdi zmdi-minus-circle-outline"></i
                ></span>
              </div>
              <div class="alert-time">
                <span>14-Sep-2018 at 01:21 pm</span>
              </div>
            </div>
            <!-- Alerts Dropdown 4 -->
            <div class="unread">
              <div class="alert-title-line">
                <span class="alert-title"
                  >15 submissions ready for evaluation</span
                >
                <span class="read-unread"
                  ><i class="zmdi zmdi-minus-circle-outline"></i
                ></span>
              </div>
              <div class="alerts-sub-title">
                <span class="alerts-sub-title-1">Class:</span
                ><span>Basics of Algebra</span>
              </div>
              <div class="alert-time">
                <span>13-Sep-2018 at 01:15 pm</span>
              </div>
            </div>
            <!-- Alerts Dropdown 5 -->
            <div class="unread">
              <div class="alert-title-line">
                <span class="alert-title"
                  >License for Basic Concepts in Geometry has been assigned to
                  your... school</span
                ><span class="read-unread"
                  ><i class="zmdi zmdi-minus-circle-outline"></i
                ></span>
              </div>
              <div class="alert-time">
                <span>15-Sep-2018 at 07:21 pm</span>
              </div>
            </div>
            <!-- Alerts Dropdown 6 -->
            <div>
              <div class="alert-title-line">
                <span class="alert-title"
                  >Lesson 3 Practice Worksheet overdue for Sam Diego</span
                >
                <span class="read-unread"
                  ><i class="zmdi zmdi-check-circle"></i
                ></span>
              </div>
              <div class="alerts-sub-title">
                <span class="alerts-sub-title-1">Course:</span
                ><span>Advanced Mathematics</span>
              </div>
            </div>
            <div class="show-all">Show all</div>
          </div>
          <!-- Alerts Dropdown End -->
        </div>
        <!-- Announcements Icon -->
        <div class="navbar-icons-items announcements">
          <a href="#"
            ><img
              id="announcements"
              src="/assets/quantum-screen-assets/icons/announcements.svg"
              alt=""
            /><span class="num">2</span></a
          >
          <!-- Announcements Dropdown -->
          <div class="announcements-dropdown">
            <!-- Announcements Dropdown 1 -->
            <div>
              <div class="announcements-title-line">
                <span class="announcements-title-pa">PA: </span
                ><span>Wilson Kumar</span>
                <span class="read-unread"
                  ><i class="zmdi zmdi-check-circle"></i
                ></span>
              </div>
              <div>
                <span class="announcements-title"
                  >No classes will be held on 21st Nov</span
                >
              </div>
              <div class="announcements-attachment">
                <span><i class="zmdi zmdi-attachment-alt"></i></span
                ><span>2 files are attached</span>
                <span class="announcements-time">15-Sep-2018 at 07:21 pm</span>
              </div>
            </div>
            <!-- Announcements Dropdown 2 -->
            <div class="unread">
              <div class="announcements-title-line">
                <span class="announcements-title-pa">PA: </span
                ><span>Samson White</span
                ><span class="read-unread"
                  ><i class="zmdi zmdi-minus-circle-outline"></i
                ></span>
              </div>
              <div>
                <span class="announcements-title"
                  >Guest lecture on Geometry on 20th September</span
                >
              </div>
              <div class="announcements-attachment">
                <span><i class="zmdi zmdi-attachment-alt"></i></span
                ><span>2 files are attached</span>
                <span class="announcements-time">15-Sep-2018 at 07:21 pm</span>
              </div>
            </div>
            <!-- Announcements Dropdown 3 -->
            <div>
              <div class="announcements-title-line">
                <span class="announcements-title-pa">PA: </span
                ><span>Wilson Kumar</span>
                <span class="read-unread"
                  ><i class="zmdi zmdi-check-circle"></i
                ></span>
              </div>
              <div>
                <span class="announcements-title"
                  >Additional course materials available on request</span
                >
              </div>
              <div class="announcements-course">
                <span>Course: </span><span>Mathematics 101</span>
              </div>
              <div>
                <span class="announcements-time">15-Sep-2018 at 07:21 pm</span>
              </div>
            </div>
            <!-- Announcements Dropdown 4 -->
            <div class="unread">
              <div class="announcements-title-line">
                <span class="announcements-title-pa">PA: </span
                ><span>Wilson Kumar</span>
                <span class="read-unread"
                  ><i class="zmdi zmdi-minus-circle-outline"></i
                ></span>
              </div>
              <div>
                <span class="announcements-title"
                  >No classes will be held on 25th Dec</span
                >
              </div>
              <div>
                <span class="announcements-time">15-Sep-2018 at 07:21 pm</span>
              </div>
            </div>
            <!-- Announcements Dropdown 5 -->
            <div class="unread">
              <div class="announcements-title-line">
                <span class="announcements-title-pa">PA: </span
                ><span>Wilson Kumar</span>
                <span class="read-unread"
                  ><i class="zmdi zmdi-minus-circle-outline"></i
                ></span>
              </div>
              <div>
                <span class="announcements-title"
                  >Additional course materials available on request</span
                >
              </div>
              <div class="announcements-course">
                <span>Course: </span><span>Mathematics 101</span>
              </div>
            </div>
            <!-- Show All Bottom Panel -->
            <div class="announcements-showall">
              <span>Show all</span>
              <span class="sep"></span>
              <span>Create new</span>
            </div>
          </div>
        </div>
        <!-- Profile Icon -->
        <div class="navbar-icons-items face">
          <a href="#"
            ><i id="face" class="zmdi zmdi-face"></i
            ><span class="num white">T</span></a
          >
        </div>
      </div>
      <!-- Hamburger Menu -->
      <div class="hamburger-menu">
        <i class="zmdi zmdi-menu"></i>
        <div class="hamburger-dropdown">
          <ul>
            <li><span>Dashboard</span></li>
            <li class="hamburger-dropdown-selected">
              <span>Content</span>
              <span><i class="zmdi zmdi-chevron-up"></i></span>
              <ul>
                <li><span>Course Catalog</span></li>
              </ul>
            </li>
            <li>
              <span>Users</span>
              <span><i class="zmdi zmdi-chevron-down"></i></span>
            </li>
            <li>
              <span>Reports</span>
              <span><i class="zmdi zmdi-chevron-down"></i></span>
            </li>
            <li>
              <span>Admin</span>
              <span><i class="zmdi zmdi-chevron-down"></i></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Navbar End -->

  <!-- Courses & Classes -->
  <div class="courses-classes">
    <span class="courses">
      <img
        id="courses-image"
        class="courses-classes-image"
        src="/assets/quantum-screen-assets/icons/courses.svg"
        alt=""
      />
      <span class="courses-classes-number">4</span> Courses</span
    >
    <span class="classes"
      ><img
        id="classes-image"
        class="courses-classes-image"
        src="/assets/quantum-screen-assets/icons/classes.svg"
        alt=""
      />
      <span class="courses-classes-number">4</span> Classes</span
    >
  </div>
  <!-- Courses Info -->
  <div class="course-info">
    <div id="total-courses">Showing 4 of 4 courses</div>
    <div id="sort">
      <label for="sort-courses">Sort By:</label
      ><select name="sort-courses" id="sort-courses">
        <option value="">Course Name</option>
        <option value="">Subject Name</option></select
      ><a href="#"><i class="zmdi zmdi-long-arrow-up"></i></a>
    </div>
  </div>
  <!-- Course Container -->
  <div id="course-container" class="course-container">
    <!-- Course Cards -->

    <!-- Card Template Start -->

    <div class="course-card">
      <div class="course-details">
        <div class="course-image">
          <img
            src="/assets/quantum-screen-assets/images/imageMask-1.svg"
            alt=""
          />
        </div>
        <div class="course-card-info">
          <div class="course-title-line">
            <span class="course-title">Acceleration</span>
            <span class="favourite">
              <img
                src="/assets/quantum-screen-assets/icons/favourite.svg"
                alt=""
              />
            </span>
          </div>
          <div class="subject-line">
            <span class="subject">Physics</span
            ><span class="grade"
              >Grade 7<span class="grade-plus">+2</span></span
            >
          </div>
          <div class="course-chapters-line">
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">4</span> Units</span
            >
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">18</span> Lessons</span
            >
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">24</span> Topics</span
            >
          </div>
          <div class="course-class">
            <select name="course-class">
              <option value="">Mr. Frank's Class B</option>
            </select>
          </div>
          <div class="students-time-line">
            <span class="students">50 Students</span>
            <span class="duration">21-Jan-2020 - 21-Aug-2020</span>
          </div>
        </div>
      </div>
      <div class="course-bottom-panel">
        <div class="preview">
          <a href="#"
            ><img src="/assets/quantum-screen-assets/icons/preview.svg" alt=""
          /></a>
        </div>
        <div class="manage-course">
          <a href="#"
            ><img
              src="/assets/quantum-screen-assets/icons/manage course.svg"
              alt=""
          /></a>
        </div>
        <div class="grade-submission">
          <a href="#"
            ><img
              src="/assets/quantum-screen-assets/icons/grade submissions.svg"
              alt=""
          /></a>
        </div>
        <div class="reports">
          <a href="#"
            ><img src="/assets/quantum-screen-assets/icons/reports.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="course-card">
      <div class="course-details">
        <div class="course-image">
          <img
            src="/assets/quantum-screen-assets/images/imageMask-2.svg"
            alt=""
          />
        </div>
        <div class="course-card-info">
          <div class="course-title-line">
            <span class="course-title"> Displacement, Velocity and Speed</span>
            <span class="favourite">
              <img
                src="/assets/quantum-screen-assets/icons/favourite.svg"
                alt=""
              />
            </span>
          </div>
          <div class="subject-line">
            <span class="subject">Physics</span
            ><span class="grade"
              >Grade 7<span class="grade-plus">+3</span></span
            >
          </div>
          <div class="course-chapters-line">
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">2</span> Units</span
            >
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">15</span> Lessons</span
            >
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">20</span> Topics</span
            >
          </div>
          <div class="course-class">
            <select name="course-class">
              <option value="">No classes</option>
            </select>
          </div>
          <div class="students-time-line"></div>
        </div>
      </div>
      <div class="course-bottom-panel">
        <div class="preview">
          <a href="#"
            ><img src="/assets/quantum-screen-assets/icons/preview.svg" alt=""
          /></a>
        </div>
        <div class="manage-course bottom-panel-disabled">
          <a href="#"
            ><img
              src="/assets/quantum-screen-assets/icons/manage course.svg"
              alt=""
          /></a>
        </div>
        <div class="grade-submission bottom-panel-disabled">
          <a href="#"
            ><img
              src="/assets/quantum-screen-assets/icons/grade submissions.svg"
              alt=""
          /></a>
        </div>
        <div class="reports">
          <a href="#"
            ><img src="/assets/quantum-screen-assets/icons/reports.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="course-card">
      <div class="course-details">
        <div class="course-image">
          <img
            src="/assets/quantum-screen-assets/images/imageMask.svg"
            alt=""
          />
        </div>
        <div class="course-card-info">
          <div class="course-title-line">
            <span class="course-title">Introduction to Biology: Micro</span>
            <span class="favourite">
              <img
                src="/assets/quantum-screen-assets/icons/favourite.svg"
                alt=""
              />
            </span>
          </div>
          <div class="subject-line">
            <span class="subject">Biology</span
            ><span class="grade"
              >Grade 4<span class="grade-plus">+1</span></span
            >
          </div>
          <div class="course-chapters-line">
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">5</span> Units</span
            >
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">16</span> Lessons</span
            >
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">22</span> Topics</span
            >
          </div>
          <div class="course-class">
            <select name="course-class">
              <option value="">All Classes</option>
            </select>
          </div>
          <div class="students-time-line">
            <span class="students">300 Students</span>
          </div>
        </div>
      </div>
      <div class="course-bottom-panel">
        <div class="preview">
          <a href="#"
            ><img src="/assets/quantum-screen-assets/icons/preview.svg" alt=""
          /></a>
        </div>
        <div class="manage-course bottom-panel-disabled">
          <a href="#"
            ><img
              src="/assets/quantum-screen-assets/icons/manage course.svg"
              alt=""
          /></a>
        </div>
        <div class="grade-submission bottom-panel-disabled">
          <a href="#"
            ><img
              src="/assets/quantum-screen-assets/icons/grade submissions.svg"
              alt=""
          /></a>
        </div>
        <div class="reports">
          <a href="#"
            ><img src="/assets/quantum-screen-assets/icons/reports.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="course-card">
      <div class="course-details">
        <div class="course-image">
          <img
            src="/assets/quantum-screen-assets/images/imageMask-3.svg"
            alt=""
          />
        </div>
        <div class="course-card-info">
          <div class="course-title-line">
            <span class="course-title">Introduction to High School</span>
            <span class="favourite">
              <img
                src="/assets/quantum-screen-assets/icons/favourite-greyed.svg"
                alt=""
              />
            </span>
          </div>
          <div class="subject-line">
            <span class="subject">Mathematics</span
            ><span class="grade"
              >Grade 8<span class="grade-plus">+3</span></span
            >
          </div>
          <div class="course-chapters-line">
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">4</span> Units</span
            >
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">18</span> Lessons</span
            >
            <span class="course-chapters-line-span"
              ><span class="course-chapters-number">24</span> Topics</span
            >
          </div>
          <div class="course-class">
            <select name="course-class">
              <option value="">Mr. Frank's Class a</option>
            </select>
          </div>
          <div class="students-time-line">
            <span class="students">44 Students</span>
            <span class="duration">14-Oct-2019 - 20-Oct-2020</span>
          </div>
        </div>
      </div>
      <div class="course-bottom-panel">
        <div class="preview">
          <a href="#"
            ><img src="/assets/quantum-screen-assets/icons/preview.svg" alt=""
          /></a>
        </div>
        <div class="manage-course">
          <a href="#"
            ><img
              src="/assets/quantum-screen-assets/icons/manage course.svg"
              alt=""
          /></a>
        </div>
        <div class="grade-submission">
          <a href="#"
            ><img
              src="/assets/quantum-screen-assets/icons/grade submissions.svg"
              alt=""
          /></a>
        </div>
        <div class="reports">
          <a href="#"
            ><img src="/assets/quantum-screen-assets/icons/reports.svg" alt=""
          /></a>
        </div>
      </div>
      <div class="expired">Expired</div>
    </div>

    <!-- Card Template End -->
  </div>
  <!-- Course Container End -->
</div>
<!-- Main Content End -->

<!-- Footer -->

<div class="footer">
  <div class="footer-links">
    <span class="about"><a href="#">About</a></span>
    <span class="contact-us"><a href="">Contact Us</a></span>
  </div>
  <div class="footer-panel">
    <span class="footer-logo"
      ><img
        src="../assets/quantum-screen-assets/icons/logo used in footer.svg"
        alt=""
    /></span>
    <span class="copyright"
      ><span>Copyright &copy; 2020-2021</span>
      <span><strong>Zeus Systems Pvt. Ltd.</strong></span
      ><span> All rights reserved.</span></span
    >
  </div>
</div>
<script src="../../assets/js/populate.js"></script>

<router-outlet name="dashboard"></router-outlet>
